
<b>Cookie found:</b> <i><%= params[:ec_name] %>></i> = <span id='idtag'>currently not set</span>

<div id='cookies'></div>
Now, try deleting this "uid" cookie anywhere possible, then
<input type=button value="Click to rediscover cookies" onClick="document.getElementById('idtag').innerHTML = '*checking*'; document.getElementById('cookies').innerHTML = ''; setTimeout(getC, 300);">
or
<input type=button value="Click to rediscover cookies WITHOUT reactivating deleted cookies" onClick="document.getElementById('idtag').innerHTML = '*checking*'; document.getElementById('cookies').innerHTML = ''; setTimeout(getC, 300, 1);">

<%= javascript_include_tag 'ec' %>
<script>
var val = undefined;
var ec = new <%= Evercookie.js_class %>();

getC(1);

function getC(dont)
{
        ec.get("<%= params[:ec_name] %>", function(best, all) {
                document.getElementById('idtag').innerHTML = best;
                var txt = document.getElementById('cookies');
                for (var item in all)
                        txt.innerHTML += item + ' mechanism: ' + (val == all[item] ? '<b>' + all[item] + '</b>' : all[item]) + '<br>';
        }, dont);
}
</script>